@tailwind base;

.scrollbar::-webkit-scrollbar {
    width: 2px;
}

.scrollbar::-webkit-scrollbar-track {
    background: rgb(148, 147, 147);

}

.scrollbar::-webkit-scrollbar-thumb {
    background: #2c6ee9;
}

@tailwind components;
@tailwind utilities;